<div class="jumbotron">
  <h1 class="display-4">Welcome to kr3m CRM</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae accusantium neque ratione laudantium, adipisci autem optio numquam beatae quo deleniti pariatur! Culpa commodi dolorem suscipit quas ab perferendis id recusandae?</p>
  <hr class="my-4">
  <p>To learn more about kr3m, you can consult the official website or the related social media accounts</p>
  <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
</div>
