.navbar-primary{
  background-color: #333F48;
  color: white;
}

.navbar-brand{
  color: white
}

.nav-link{
  color: whitesmoke!important;
}
.active-link{
  border-bottom: yellow 2px solid;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.content-wrapper{
  margin: 1.2rem
}
.navbar-toggler{
  color: white!important
}
