<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-primary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">kr3m CRM</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggler"
        aria-controls="navbarToggler"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            >Home</a
          >
          <a
            class="nav-link"
            routerLink="/contacts"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            >Contacts</a
          >
          <a
            class="nav-link"
            routerLink="/forms"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            >New Client</a
          >
          <a
            class="nav-link"
            routerLink="/plans"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"
            >Plans & Pricing</a
          >
        </div>
      </div>
    </div>
  </nav>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
